.card-container {
	display: flex;
	flex-direction: column;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 25px;
	cursor: pointer;
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	transform: translateZ();
	transition: transform .25s ease-out;
}
.ant-card-cover {
	background-color: #95dada;
}

.card-container:hover {
	transform: scale(1.05);
}
